<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- links to header and footer -->
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">

    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/theme.css">
    <link rel="icon" href="../media/muziki-logo.png" type="image/png">
</head>

<body>
    <!-- Header -->
    <header>
        <nav>
            <ul>
                <li><a href="index.html" class="active">Home</a></li>

                <li><a href="library.html">Your Library</a></li>
            </ul>
        </nav>
        <div class="search">
            <input type="text" placeholder="Type Here To Search ...">
            <!-- <button>Search</button> -->
        </div>
        <div class="login">
            <button class="signup-btn">Sign Up</button>
            <button class="login-btn">Log In</button>
        </div>
    </header>
    <main>

        <section class="hero">
            <div class="image">
                <img src="../media/hero.png" alt="Muziki">
            </div>
            <div class="content">
                <h1>Music for everyone.</h1>
                <p>Millions of songs. No credit card needed.</p>
                <a href="">
                    <!-- From Uiverse.io by JkHuger -->
                    <ul class="wave-menu">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                </a>
            </div>

        </section>

        <section class="cta">
            <h2>Ready to listen?</h2>
            <button>Get Muziki for Free</button>
        </section>


        <section class="features">
            <div class="feature">
                <img src="../media/playlist.jpg" alt="Muziki">
                <h2>Playlists</h2>
                <p>Listen to your favorite songs.</p>
            </div>
            <div class="feature">
                <img src="../media/album.jpg" alt="Muziki">
                <h2>Albums</h2>
                <p>Listen to your favorite songs.</p>
            </div>
            <div class="feature">
                <img src="../media/artist.jpg" alt="Muziki">
                <h2>Artists</h2>
                <p>Listen to your favorite songs.</p>
            </div>
        </section>
        <audio src="../media/audio/Toto - Africa (Official HD Video).mp3" autoplay loop></audio>





    </main>
    <footer>
        <!-- footer content       -->
        <div class="footer-content">
            <div class="footer-logo">
                <img src="../media/muziki-logo.png" alt="Muziki">
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Press</a></li>
                    <li><a href="">News</a></li>
                </ul>
                <ul>
                    <li><a href="">Help</a></li>
                    <li><a href="">Accessibility</a></li>
                    <li><a href="">Gift Cards</a></li>
                    <li><a href="">Legal</a></li>
                </ul>
                <ul>
                    <li><a href="">Cookie Preferences</a></li>
                    <li><a href="">Corporate</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-social">
            <ul>
                <li><a href=""><img src="../media/facebook.png" alt="Facebook" width="32px"></a></li>
                <li><a href=""><img src="../media/twitter.png" alt="Twitter" width="32px"></a></li>
                <li><a href=""><img src="../media/instagram.png" alt="Instagram" width="32px"></a></li>
            </ul>
        </div>

        <div class="footer-legal">
            <ul>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Cookie Policy</a></li>
            </ul>
            <hr width="100%">
            <p>&copy; 2023 Muziki</p>
        </div>


    </footer>
</body>

</html>